body, html, div, section, ul, li, a{
    background: none;
    color: white;
    text-align: center;
    margin: 0%;
    padding: 0%;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img{
    margin: 1%;
}

body, html {
    height: 100%;
}

header {
    background: linear-gradient(rgb(100,50,50), rgb(80,20,20)) no-repeat;
    height: 14em;
    width: 100%;
    position: absolute;
}
.header {
    margin: 20px;
    float: left;

}
.topfix {
    display: none;
    height: 40px;
    width: 100%;
    margin: 12.5rem 0 2rem 0;
    color: white;
    padding-top: 0.5rem;
    text-align: left;
    position: relative;
    background: linear-gradient(rgb(100,50,50), rgb(80,20,20)) no-repeat;
}
section.wrapper {
    /* height: 5px; */
    margin-top: 12rem;
    float: left;
}

.navwrapper {
    width: 450px;
    margin-top: 10px;
}

.searchFix {
    float: right;
    width: 325px;
    height: 100px;
}

.searchFix #mySearch {
    background-image: url('/css/sarching.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    /* width: 323px; */
    padding: 12px 21px 12px 40px;
    border: 1px solid #dddd;
    /* margin-top: 40px;  */
}

.searchFix button {
    height: 44px;
}

#myUL{
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
}
#myUL li a {
    border: 1px solid #dddd;
    margin: -1px;
    background-color: rgb(222, 184, 135);
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(78, 27, 27);
    display: block;
}
#myUL li a:hover:not(.header){
    background-color: rgb(239, 247, 255);
}

#myUL span {
    background-color: yellow;
}

@media only screen and (max-width: 1200px) {

}

@media screen and (min-width: 375px) {  

}

@media only screen and (max-width: 768px) {

    header {
        height: 14em;
        width: 100%;
        position: absolute;
    }
    .header {
        display: none;
    }
    #imgGoS{
        width: 80px;
        height: 80px;
    }
    .topfix {
        height: 30px;
        width: 100%;
    }
}